openapi: 3.1.0

# NGUỒN SỰ THẬT cho kiểu dữ liệu của /api/v2.
#
# Next.js sinh TypeScript từ file này, không chép tay (CLAUDE.md mục 2). Kèm
# theo là một phép kiểm tự động: `OpenApiContractTest` đối chiếu HAI CHIỀU giữa
# file này và bảng route thật — thêm endpoint mà quên mô tả, hoặc mô tả một
# endpoint không tồn tại, đều làm test đỏ. Một đặc tả không ai kiểm là một đặc
# tả sẽ lệch.

info:
  title: OOHX API v2
  version: 0.1.0
  description: |
    Danh mục công khai của sàn OOHX. Phần này phục vụ trang công khai và
    ứng dụng Next.js.

    Không dùng /api/v1 cho việc mới: v1 là hợp đồng đang chạy với đối tác và
    giữ nguyên hành vi, kể cả những chỗ đặt tên sai (xem `price_per_slot_vnd`).

servers:
  - url: https://api.oohx.net
    description: Production
  - url: http://oohx.test
    description: Môi trường phát triển

tags:
  - name: catalog
    description: Dữ liệu công khai — không cần đăng nhập, có giới hạn tần suất.
  - name: booking
    description: |
      Đặt chỗ — **cần đăng nhập**. Mỗi action gọi `CampaignPolicy`; middleware
      `buyer` chỉ là lớp chặn đầu tiên, không thay cho phân quyền theo bản ghi.
  - name: payment
    description: |
      Thanh toán — **cần đăng nhập**, và đường ghi cần quyền `manage_payments`
      chứ không phải quyền xem. Công nợ tính theo **từng media owner**.
  - name: cart
    description: |
      Khu người mua — **cần đăng nhập** (Sanctum dạng SPA, cookie phiên).
      Số tiền ở nhóm này luôn do máy chủ tính; không endpoint nào nhận số tiền
      từ client.

paths:
  /api/v2/stats:
    get:
      tags: [catalog]
      summary: Số liệu tổng quan của sàn
      description: |
        Ba con số đọc được từ CSDL. Không có số liệu phát sóng ở đây: đường ghi
        bằng chứng phát sóng mới hoạt động từ giai đoạn 2 và chưa có dữ liệu.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [total_screens, total_cities, total_owners]
                    properties:
                      total_screens: { type: integer }
                      total_cities:  { type: integer }
                      total_owners:  { type: integer }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/filters:
    get:
      tags: [catalog]
      summary: Bộ lọc tổng hợp cho trang khám phá
      description: |
        Dùng chung nguồn với bộ lọc trên trang công khai, nên hai nơi không
        thể hiện ra danh sách khác nhau. Khoảng giá lấy từ `floor_cpm` —
        chính con số trang công khai đang hiển thị.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [cities, venue_types, networks, owners, price_range]
                    properties:
                      cities:      { type: array, items: { $ref: '#/components/schemas/FilterFacet' } }
                      venue_types: { type: array, items: { $ref: '#/components/schemas/FilterFacet' } }
                      networks:    { type: array, items: { $ref: '#/components/schemas/FilterFacet' } }
                      owners:
                        type: array
                        items:
                          type: object
                          properties:
                            slug:  { type: [string, 'null'] }
                            name:  { type: [string, 'null'] }
                            count: { type: integer }
                      price_range:
                        type: object
                        description: |
                          Khoảng giá CPM, **chỉ tính hàng VND**. Bản đầu gọi
                          nó là `price_range_vnd` trong khi MIN/MAX chạy trên
                          toàn bộ `floor_cpm` bất kể `floor_cpm_currency`, nên
                          một hàng USD kéo `min` xuống vài đơn vị (Codex R39).
                        required: [currency, min, max]
                        properties:
                          currency: { type: string, enum: [VND] }
                          min:      { type: integer }
                          max:      { type: integer }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/screens/map:
    get:
      tags: [catalog]
      summary: Pin bản đồ trong một khung nhìn
      description: |
        **Khung nhìn bắt buộc.** Thiếu `north`/`south`/`east`/`west` là 422,
        không phải "mặc định cả thế giới": không có khung nhìn thì endpoint
        này là một lần xuất toàn bộ kho dưới cái tên vô hại.

        Trên khung nhìn vẫn còn **giới hạn cứng** số pin, vì khung nhìn rộng
        vẫn có thể trùm cả kho. Khi bị cắt, `meta.truncated` là `true` và
        `meta.total` cho biết còn bao nhiêu — client thu nhỏ khung nhìn lại.
        Pin bị cắt được sắp thứ tự xác định, nên kéo bản đồ qua lại không ra
        tập pin khác nhau một cách vô cớ.

        Bộ lọc giống hệt `/api/v2/screens`.
      parameters:
        - { name: north, in: query, required: true, schema: { type: number, minimum: -90,  maximum: 90 } }
        - { name: south, in: query, required: true, schema: { type: number, minimum: -90,  maximum: 90 } }
        - { name: east,  in: query, required: true, schema: { type: number, minimum: -180, maximum: 180 } }
        - { name: west,  in: query, required: true, schema: { type: number, minimum: -180, maximum: 180 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 500, default: 300 } }
        - { name: q,           in: query, schema: { type: string, maxLength: 100 } }
        - { name: city,        in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: venue_type,  in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: screen_type, in: query, style: form, explode: false, schema: { type: array, maxItems: 5,  items: { type: string, enum: [billboard, led, lcd] } } }
        - { name: network,     in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: owner,       in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MapPin' }
                  meta:
                    type: object
                    required: [returned, total, limit, max_limit, truncated, viewport]
                    properties:
                      returned:  { type: integer }
                      total:     { type: integer, description: 'Tổng số pin khớp bộ lọc và khung nhìn, trước khi cắt.' }
                      limit:     { type: integer }
                      max_limit: { type: integer }
                      truncated: { type: boolean }
                      viewport:
                        type: object
                        required: [north, south, east, west]
                        properties:
                          north: { type: number }
                          south: { type: number }
                          east:  { type: number }
                          west:  { type: number }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/screens:
    get:
      tags: [catalog]
      summary: Danh sách màn hình
      description: |
        Phân trang có **giới hạn cứng**: `per_page` lớn hơn `max_per_page` bị
        kẹp về mức đó, không trả về toàn bộ kho.
      # Bộ lọc dưới đây do `FrontpageListingRequest` kiểm — CÙNG một bộ luật
      # với trang công khai. Sửa luật ở đó thì sửa cả ở đây, nếu không đặc tả
      # nói một đằng máy chủ nhận một nẻo.
      #
      # Tham số nhiều giá trị dùng `style: form, explode: false`, tức MỘT khóa
      # phân tách bằng dấu phẩy: `city=hanoi,hcm`. Bản đầu tôi khai
      # `explode: true` (`city=hanoi&city=hcm`) — sai, vì PHP không ghép khóa
      # lặp thành mảng, nó lấy giá trị cuối và bỏ phần còn lại, rồi luật
      # `array` trả 422. Dạng `city[]=` cũng được nhận nhưng không phải hợp
      # đồng khai ở đây (Codex R37).
      parameters:
        - { name: page,        in: query, schema: { type: integer, minimum: 1 } }
        - { name: per_page,    in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
        - { name: q,           in: query, schema: { type: string, maxLength: 100 } }
        - { name: city,        in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: province,    in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: district,    in: query, style: form, explode: false, schema: { type: array, maxItems: 20, items: { type: string } } }
        - { name: region,      in: query, style: form, explode: false, schema: { type: array, maxItems: 3,  items: { type: string, enum: [north, central, south] } } }
        - { name: venue_type,  in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: screen_type, in: query, style: form, explode: false, schema: { type: array, maxItems: 5,  items: { type: string, enum: [billboard, led, lcd] } } }
        - { name: orientation, in: query, style: form, explode: false, schema: { type: array, maxItems: 3,  items: { type: string, enum: [landscape, portrait, square] } } }
        - { name: network,     in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: owner,       in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: site,        in: query, schema: { type: string, maxLength: 50 } }
        - { name: min_price,   in: query, schema: { type: number, minimum: 0 } }
        - { name: max_price,   in: query, schema: { type: number, minimum: 0 } }
        - { name: sort,        in: query, schema: { type: string, enum: [price_asc, price_desc, newest] } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ScreenSummary' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/screens/{slug}:
    get:
      tags: [catalog]
      summary: Chi tiết một màn hình
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/ScreenSummary'
                      - type: object
                        required: [availability]
                        properties:
                          availability: { $ref: '#/components/schemas/Availability' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/owners:
    get:
      tags: [catalog]
      summary: Danh sách media owner
      parameters:
        - { name: page,     in: query, schema: { type: integer, minimum: 1 } }
        - { name: per_page, in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
        - { name: q,        in: query, schema: { type: string, maxLength: 100 } }
        - { name: type,     in: query, description: Lọc theo loại điểm đặt của màn hình thuộc owner., schema: { type: string, maxLength: 100 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OwnerSummary' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/v2/owners/{slug}:
    get:
      tags: [catalog]
      summary: Chi tiết media owner kèm màn hình của họ
      description: |
        Màn hình đi kèm dùng đúng `ScreenSummary` như `/api/v2/screens`, nên
        bên tiêu thụ chỉ cần một kiểu dữ liệu cho màn hình.
      parameters:
        - { name: slug,     in: path,  required: true, schema: { type: string } }
        - { name: page,     in: query, schema: { type: integer, minimum: 1 } }
        - { name: per_page, in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
        - { name: city,     in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: network,  in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, screens]
                properties:
                  data: { $ref: '#/components/schemas/OwnerDetail' }
                  screens:
                    type: object
                    required: [data, meta]
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/ScreenSummary' }
                      meta: { $ref: '#/components/schemas/PageMeta' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/products:
    get:
      tags: [catalog]
      summary: Danh sách sản phẩm (gói và vị trí lẻ)
      description: |
        Dùng chung `ProductService` với trang `/products`, nên bộ lọc và thứ
        tự không thể khác nhau giữa hai nơi.

        `owner` nhận **slug**, không nhận id nội bộ. Slug không tồn tại thì
        kết quả rỗng, không phải "bỏ qua bộ lọc và trả cả kho".

        Tham số nhiều giá trị dùng `explode: false` (`category=led,lcd`) —
        xem ghi chú ở `/api/v2/screens` về vì sao không dùng `explode: true`.
      parameters:
        - { name: page,      in: query, schema: { type: integer, minimum: 1 } }
        - { name: per_page,  in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
        - { name: q,         in: query, schema: { type: string, maxLength: 100 } }
        - { name: category,  in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string, enum: [billboard, led, lcd, posm, standee, escalator_wrap, ceiling_hang, lightbox] } } }
        - { name: type,      in: query, schema: { type: string, enum: [single, package, custom] } }
        - { name: city,      in: query, style: form, explode: false, schema: { type: array, maxItems: 10, items: { type: string } } }
        - { name: owner,     in: query, schema: { type: string, maxLength: 100 } }
        - { name: min_price, in: query, schema: { type: number, minimum: 0 } }
        - { name: max_price, in: query, schema: { type: number, minimum: 0 } }
        - { name: sort,      in: query, schema: { type: string, enum: [price_asc, price_desc, newest] } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ProductSummary' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/v2/products/{slug}:
    get:
      tags: [catalog]
      summary: Chi tiết một sản phẩm
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/ProductDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/screens/featured:
    get:
      tags: [catalog]
      summary: Vài màn hình nổi bật cho trang chủ
      description: |
        Dùng cùng đường truy vấn trang chủ Blade gọi: màn hình công khai **có
        ảnh** và **có giá sàn > 0**.

        **Khác `/screens`: có `availability`.** Endpoint danh sách không trả
        suất còn lại vì nó trả tới 50 bản ghi mỗi trang và phép tính suất là
        hai truy vấn tổng hợp. Ở đây tập nhỏ và cố định nên chi phí có hạn, và
        nó cần thiết: thẻ màn hình chỉ được in badge "Còn trống" khi **có** dữ
        liệu suất (audit F-15).

        `availability` là `null` khi không tính được — **không** phải 0. `0`
        nghĩa là đã đặt kín, `null` nghĩa là chưa biết; gộp hai thứ đó là cách
        in badge "đã đầy" cho một màn hình không ai đặt.
      parameters:
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 12 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/ScreenSummary'
                        - type: object
                          required: [availability]
                          properties:
                            availability:
                              nullable: true
                              allOf:
                                - $ref: '#/components/schemas/Availability'
                  meta: { $ref: '#/components/schemas/LimitMeta' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/screens/pins:
    get:
      tags: [catalog]
      summary: Pin bản đồ của MỘT thành phố
      description: |
        **`city` bắt buộc**, cùng lý lẽ với khung nhìn ở `/screens/map`: thiếu
        phạm vi thì "lấy pin bản đồ" nghĩa là lấy mọi màn hình có toạ độ — một
        lần xuất toàn bộ kho dưới một cái tên vô hại (CLAUDE.md mục 2).

        Và `city` được kiểm theo **danh sách thật**, không chỉ `required`:
        `FrontpageService::resolveCityName()` trả `null` cho slug không nhận
        ra, và khi đó truy vấn **không áp filter thành phố nào**. Nên một giá
        trị lạ phải là 422, không phải pin của cả nước.

        **Vì sao tách khỏi `/screens/map`:** trang chủ có bộ chọn thành phố,
        không có bản đồ kéo được, nên nó không biết toạ độ biên để dựng khung
        nhìn. Gộp hai phạm vi vào một endpoint nghĩa là hai nhóm tham số loại
        trừ nhau, mỗi nhóm bắt buộc theo điều kiện — một hợp đồng không khai
        được gọn ở đây và không kiểm được bằng một FormRequest.

        **Thứ tự không định trước.** Truy vấn dùng `inRandomOrder()`, giữ theo
        bản Blade vì bản đồ nhỏ trên trang chủ đổi pin mỗi lần tải là có chủ ý.
        Đừng dựa vào thứ tự để phân trang hay so sánh hai lần gọi.
      parameters:
        - { name: city, in: query, required: true, schema: { type: string, enum: [hanoi, hcm, danang, haiphong, cantho] } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MapPin' }
                  meta:
                    allOf:
                      - $ref: '#/components/schemas/LimitMeta'
                      - type: object
                        required: [city]
                        properties:
                          city: { type: string }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/owners/featured:
    get:
      tags: [catalog]
      summary: Vài media owner nổi bật cho trang chủ
      description: |
        Ưu tiên owner có cờ `featured`, và **lùi về** owner đang hoạt động
        nhiều màn hình nhất khi chưa ai được đánh dấu — nên danh sách không bao
        giờ rỗng chỉ vì chưa ai bật cờ. Một trang chủ trống vì thiếu một cờ
        quản trị là lỗi khó đoán nguyên nhân.
      parameters:
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 24 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OwnerSummary' }
                  meta: { $ref: '#/components/schemas/LimitMeta' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/locations:
    get:
      tags: [catalog]
      summary: Tỉnh thành có màn hình, nhóm theo vùng
      description: |
        Trả **mảng**, không trả object khoá bằng tên vùng.

        `FrontpageService::getLocationsByRegion()` trả
        `{"Miền Bắc": [...], "Miền Trung": [...]}` — khoá là chuỗi hiển thị
        tiếng Việt. Dùng hình dạng đó làm hợp đồng thì không gõ kiểu được, và
        đổi tên vùng trong `config/regions.php` là đổi khoá của response: một
        thay đổi hiển thị làm vỡ bên tiêu thụ.

        Nên mỗi vùng là một phần tử có `code` ổn định và `name` để hiển thị.
        `code` có thể `null` nếu tên vùng không khớp `config/regions.php` —
        trả `null` thay vì bỏ qua, để chỗ lệch cấu hình nhìn thấy được.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Region' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/auth/login:
    post:
      tags: [auth]
      summary: Đăng nhập người mua (phiên, không phải token)
      description: |
        Đặt **cookie phiên Laravel** — đúng cookie mà khu người mua trên Blade
        (`/my/*`) dùng. Nên người dùng đăng nhập ở app Next rồi đi tiếp vào
        Blade mà không phải đăng nhập lại.

        **Cần CSRF.** Nhóm này mang `EnsureFrontendRequestsAreStateful`, vì nó
        tạo phiên — một endpoint tạo phiên mà không có CSRF là một endpoint
        người khác đăng nhập hộ được. Trình tự:

        1. `GET /sanctum/csrf-cookie` → Laravel đặt cookie `XSRF-TOKEN`;
        2. POST kèm header `X-XSRF-TOKEN` mang **giá trị đã giải mã** của cookie
           đó. Gửi nguyên văn (còn URL-encode) thì nhận **419**.

        Hạn mức `throttle:login`: 5 lần/phút theo IP **và** 5 lần/phút theo
        `email|IP`. Chỉ đếm theo IP thì một văn phòng chung IP tự chặn nhau;
        chỉ đếm theo email thì một script đổi email mỗi lần không bị chặn gì.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string, format: email }
                password: { type: string }
                remember: { type: boolean }
      responses:
        '200':
          description: Đăng nhập thành công, cookie phiên đã được đặt
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/AuthUser' }
        '401':
          description: |
            Sai thông tin đăng nhập.

            MỘT thông điệp cho cả hai trường hợp sai — nói "email không tồn
            tại" là cho người lạ một cách dò xem địa chỉ nào có tài khoản.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/auth/register:
    post:
      tags: [auth]
      summary: Tạo tài khoản người mua
      description: |
        Tạo người dùng, vai trò `buyer`, tổ chức, liên kết người dùng ↔ tổ
        chức, và **bản ghi chấp thuận chính sách** — trong MỘT giao dịch. Hoặc
        có cả tài khoản lẫn bằng chứng chấp thuận, hoặc không có gì.

        Bản ghi chấp thuận đóng dấu `version` của chính sách tại thời điểm đăng
        ký, nên nó là bằng chứng người dùng đã đồng ý với **đúng chữ nào**.

        Dùng chung `BuyerRegistrationService` và `RegisterBuyerRequest` với
        trang Blade. Cần CSRF như `/login`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password, password_confirmation, organization_name, organization_type, accept_privacy]
              properties:
                name:                  { type: string, maxLength: 255 }
                email:                 { type: string, format: email, maxLength: 255 }
                password:              { type: string, minLength: 8 }
                password_confirmation: { type: string }
                organization_name:     { type: string, maxLength: 255 }
                organization_type:     { type: string, enum: [agency, client, brand] }
                accept_privacy:
                  type: boolean
                  description: |
                    Luật là `accepted`, không phải `required`: `false` là một
                    giá trị "có mặt", nên `required` sẽ cho qua một người chưa
                    đồng ý.
      responses:
        '201':
          description: Đã tạo tài khoản và đăng nhập
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/AuthUser' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/auth/logout:
    post:
      tags: [auth]
      summary: Đăng xuất
      description: |
        Huỷ phiên và cấp lại token CSRF. Cần đã đăng nhập.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    properties:
                      message: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/agencies:
    get:
      tags: [catalog]
      summary: Agency và brand đang dùng sàn
      description: |
        Danh sách `Organization` loại `agency`, trạng thái `active`.

        **Khác `/owners` về bản chất.** `/owners` là media owner — bên **bán**,
        và họ công khai kho màn hình để được tìm thấy. Danh sách này là bên
        **mua**.

        Vì thế DTO hẹp hơn hẳn: bảng nguồn mang `billing_info`, `tax_code` và
        điều khoản thanh toán. Ba trường của trang Blade cũ **không** có ở đây:

        - `payment_terms_days` — điều khoản thương mại của một bên thứ ba, đặt
          trên một trang ai cũng mở được;
        - `rating` — luôn rỗng, tức một ô số không có dữ liệu phía sau;
        - ảnh bìa dựng từ `placehold.co` — ảnh bịa, và nó gửi tên agency sang
          một dịch vụ ngoài ở mỗi lượt tải trang.
      parameters:
        - name: q
          in: query
          description: Lọc theo tên, khớp một phần.
          schema: { type: string, maxLength: 100 }
        - name: page
          in: query
          schema: { type: integer, minimum: 1 }
        - name: per_page
          in: query
          description: Trần cứng 50; giá trị lớn hơn bị kẹp xuống.
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgencySummary' }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/policies:
    get:
      tags: [catalog]
      summary: Danh sách trang chính sách (siêu dữ liệu)
      description: |
        **Chỉ siêu dữ liệu.** Đủ để dựng liên kết chân trang và điều hướng.
        Phần thân văn bản lấy ở `GET /api/v2/policies/{slug}` — nhét thân của
        bốn văn bản vào một response là phát hàng trăm dòng HTML cho một việc
        không ai cần.

        `effective_from` rỗng nghĩa là **chưa ban hành** — nội dung còn là bản
        nháp, và bên tiêu thụ phải thấy được điều đó.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [slug, title, url, is_effective]
                      properties:
                        slug:           { type: string }
                        title:          { type: [string, 'null'] }
                        version:        { type: [string, 'null'] }
                        effective_from: { type: [string, 'null'] }
                        is_effective:   { type: boolean }
                        url:            { type: string }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/policies/{slug}:
    get:
      tags: [catalog]
      summary: Một trang chính sách, kèm phần thân HTML
      description: |
        Trả siêu dữ liệu **và** `body_html`.

        Nó không dựng lại văn bản pháp lý. Nó render đúng partial mà trang Blade
        render (`config('policies.pages.*.body')`): một nguồn, một bộ render.
        Nhờ vậy Laravel và Next.js không thể hiện ra chữ khác nhau — mà khác
        nhau ở văn bản được đóng dấu `version` vào từng bản ghi đồng ý thì
        nghĩa là mất bằng chứng, không phải lỗi hiển thị.

        Vì cùng lý do đó: **đừng chép `body_html` sang template của bên tiêu
        thụ.** Hiển thị nó như HTML, lấy mới mỗi lần triển khai.

        `effective_from` rỗng nghĩa là **chưa ban hành**. Bên tiêu thụ phải
        hiện ra điều đó, không trình bày bản nháp như văn bản đã có hiệu lực.
      parameters:
        - name: slug
          in: path
          required: true
          description: |
            Slug của trang, đúng như đường dẫn công khai — ví dụ
            `quy-che-hoat-dong`. Danh sách lấy ở `GET /api/v2/policies`.
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [slug, title, url, is_effective, body_html]
                    properties:
                      slug:           { type: string }
                      title:          { type: [string, 'null'] }
                      version:        { type: [string, 'null'] }
                      effective_from: { type: [string, 'null'] }
                      is_effective:   { type: boolean }
                      url:            { type: string }
                      body_html:
                        type: string
                        description: |
                          Phần thân văn bản, đã render, KHÔNG gồm tiêu đề và
                          khối phiên bản — bên tiêu thụ tự dựng phần đó từ
                          `title`, `version`, `effective_from`.
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/reflections:
    get:
      tags: [catalog]
      summary: Phản ánh của tổ chức xã hội đã công bố
      description: |
        Dùng chung `PublicReflectionService::published()` với trang Blade, nên
        phép lọc "đã công bố" chỉ có một định nghĩa.
      parameters:
        - { name: page,     in: query, schema: { type: integer, minimum: 1 } }
        - { name: per_page, in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:              { type: string, description: 'Mã công khai PA-YYYYMM-nnn, không phải khóa nội bộ.' }
                        organization_name: { type: [string, 'null'] }
                        subject:           { type: [string, 'null'] }
                        content:           { type: [string, 'null'] }
                        status:            { type: [string, 'null'] }
                        status_label:
                          type: [string, 'null']
                          description: |
                            Nhãn tiếng Việt của `status`, lấy từ
                            `PublicReflection::STATUS_LABELS`.

                            Có mặt ở đây để bên tiêu thụ **không** phải chép
                            bảng tra của riêng mình. Thêm một trạng thái mà bên
                            nào quên sửa bảng thì bên đó hiện mã thô ra cho
                            người đọc — đúng loại lệch im lặng khó thấy.
                        resolution:        { type: [string, 'null'] }
                        received_at:       { type: [string, 'null'], format: date-time }
                        resolved_at:       { type: [string, 'null'], format: date-time }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [catalog]
      summary: Gửi một phản ánh
      description: |
        Hạn mức **riêng và chặt hơn** nhóm `api`: 5 lần mỗi 60 phút. Đây là
        đường ghi mở cho người lạ, và trang Blade tương ứng cũng đã có mức đó.

        Dùng chung `StorePublicReflectionRequest` với trang Blade — cùng bộ
        luật kiểm, kể cả bẫy mật `website` (`prohibited`). Viết lại bộ luật thứ
        hai cho API là mở một cửa vào mà trang web không có.

        Trả về **mã phản ánh** và không gì khác: đây là dữ liệu người lạ gửi
        lên, chưa ai duyệt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organization_name, subject, content, contact_email]
              properties:
                organization_name: { type: string, maxLength: 255 }
                subject:           { type: string, maxLength: 255 }
                content:           { type: string, minLength: 20, maxLength: 5000 }
                contact_name:      { type: [string, 'null'], maxLength: 255 }
                contact_email:     { type: string, format: email, maxLength: 255 }
                contact_phone:     { type: [string, 'null'], maxLength: 30 }
      responses:
        '201':
          description: Đã tiếp nhận
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [code, message]
                    properties:
                      code:    { type: string }
                      message: { type: string }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/me:
    get:
      tags: [cart]
      security: [{ sessionCookie: [] }]
      summary: Người đang đăng nhập — chỉ những gì thanh điều hướng cần vẽ
      description: |
        Tồn tại để trang công khai trên Next.js vẽ được header giống bản Blade.
        Header Blade đọc `auth()->user()`, mà Next **không giải mã được session
        của Laravel** — cookie có đó nhưng định dạng là của Laravel.

        **Trạng thái đăng nhập không được render ở máy chủ bên Next.** Trang
        `/explore` cache 60 giây, nên render tên và email vào HTML nghĩa là
        bản cache đó phục vụ cho người tiếp theo — tên và email của người A
        hiện ra cho người B. Vì vậy khung header render dưới dạng khách, rồi
        một component client gọi endpoint này để điền.

        **Không nằm sau middleware `buyer`.** Một người vừa đăng ký và chưa
        tạo tổ chức vẫn cần header vẽ đúng; đặt endpoint này sau `buyer` là
        trả 403 cho họ và header hiện ra như thể họ chưa đăng nhập.

        **401 là câu trả lời, không phải sự cố.** Khách chưa đăng nhập nhận 401
        với envelope thống nhất; client coi đó là "khách" và giữ nguyên khung
        đã render. Không có nhánh nào trả 200 kèm `data: null`, vì khi đó bên
        tiêu thụ phải phân biệt hai loại null.

        Phạm vi hẹp có chủ ý: đây là endpoint mọi trang gọi tới trên mọi lượt
        duyệt, nên nó chỉ trả đúng những gì header vẽ. Không có `id`, không có
        danh sách tổ chức, không có vai trò.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Me' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/cart:
    get:
      tags: [cart]
      security: [{ sessionCookie: [] }]
      summary: Giỏ hàng hiện tại của người đang đăng nhập
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Cart' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/cart/items:
    post:
      tags: [cart]
      security: [{ sessionCookie: [] }]
      summary: Thêm một màn hình hoặc một sản phẩm vào giỏ
      description: |
        Gửi `screen_slug` để thêm một màn hình lẻ, hoặc `product_slug` để thêm
        một sản phẩm. API **không** nhận khóa nội bộ: trang Blade gửi
        `screen_id`/`product_id` vì nó dựng form từ model sẵn trong tay, còn
        client ngoài thì dùng slug và máy chủ quy đổi.

        **Không nhận số tiền.** `estimated_cost` do `CartService` tính lại từ
        cấu hình kho; trường nào client gửi lên cũng bị bỏ qua.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                screen_slug:  { type: string, description: Bắt buộc khi thêm một màn hình lẻ. }
                product_slug: { type: string, description: Bắt buộc khi thêm một sản phẩm. }
                selected_screen_slugs: { type: array, items: { type: string } }
                buy_mode:     { type: string, enum: [package, individual] }
                start_date:   { type: string, format: date }
                end_date:     { type: string, format: date }
                quantity:     { type: integer, minimum: 1 }
                pricing_model: { type: string, enum: [cpm, io] }
                booked_cpms:   { type: integer, minimum: 1 }
                duration_units: { type: integer, minimum: 1 }
      responses:
        '201':
          description: Đã thêm
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/Cart'
                      - type: object
                        properties:
                          added_item_id: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/cart/items/{item}:
    parameters:
      - { name: item, in: path, required: true, schema: { type: string } }
    patch:
      tags: [cart]
      security: [{ sessionCookie: [] }]
      summary: Sửa một dòng giỏ
      description: |
        Không có trường tiền nào. `estimated_cost` được tính lại từ cấu hình
        kho sau mỗi lần sửa — số tiền do máy chủ tính.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:         { type: string, format: date }
                end_date:           { type: string, format: date }
                share_of_voice_pct: { type: integer, minimum: 1, maximum: 100 }
                spot_length:        { type: integer, minimum: 5, maximum: 60 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Cart' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      tags: [cart]
      security: [{ sessionCookie: [] }]
      summary: Xóa một dòng giỏ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Cart' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/campaigns:
    get:
      tags: [booking]
      security: [{ sessionCookie: [] }]
      summary: Danh sách campaign của tổ chức đang chọn
      description: |
        Phân trang, **giới hạn cứng** `max_per_page = 100` (CLAUDE.md mục 2).
        `meta.max_per_page` ra ngoài để client **biết** mức chặn thay vì phải
        đoán từ việc kết quả ngắn hơn mình xin.

        ══ Phạm vi ══

        Chỉ campaign của **tổ chức đang chọn**, và chỉ khi người gọi còn tư
        cách thành viên hợp lệ: thành viên của tổ chức đó, tổ chức còn
        `active`, và vai trò có quyền `view_campaigns`. Đúng ba điều kiện mà
        `CampaignPolicy::membership()` dùng.

        **Không tin `current_organization_id` một mình.** Cột đó client đổi được
        (có bộ chuyển tổ chức) và có thể trỏ vào một tổ chức người này đã bị gỡ
        khỏi, hoặc một tổ chức đã bị tạm ngưng. Không có tư cách thì trả về một
        trang **rỗng** — mặc định phải là chặn.

        ══ Không có `cancel_quotes` ở đây ══

        Danh sách trả `Campaign` thuần. Báo giá hoàn tiền chạy một lượt đọc
        bảng tiền cho **mỗi dòng đặt chỗ**; nhân với 20 campaign một trang là
        hàng trăm lượt đọc cho một màn hình không có nút hủy nào. Nó ở
        `GET campaigns/{campaign}`, nơi người dùng đã chọn đúng một campaign.
      parameters:
        - name: status
          in: query
          required: false
          description: |
            Phải nằm trong enum, nếu không thì **422** kèm danh sách hợp lệ.
            Nhận chuỗi tuỳ ý rồi trả danh sách rỗng là để client không phân biệt
            được "không có campaign nào ở trạng thái này" với "tôi gõ sai tên
            trạng thái".
          schema:
            type: string
            enum: [draft, pending_approval, approved, rejected, active, paused, completed, cancelled]
        - { name: q, in: query, required: false, schema: { type: string, maxLength: 100 }, description: 'Tìm theo tên hoặc mã, không phân biệt chỗ khớp.' }
        - { name: page, in: query, required: false, schema: { type: integer, minimum: 1 } }
        - { name: per_page, in: query, required: false, schema: { type: integer, minimum: 1, default: 20 }, description: 'Bị kẹp vào [1, 100].' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Campaign' } }
                  meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [booking]
      security: [{ sessionCookie: [] }]
      summary: Tạo campaign từ giỏ hàng (bước 1 của đặt chỗ)
      description: |
        Chuyển toàn bộ giỏ hàng hiện tại thành một campaign trạng thái `draft`
        kèm `booking_lines`. Giỏ trống thì trả 422.

        **Không nhận số tiền.** `total_budget` là ngân sách người mua tự ghi để
        theo dõi, **không** phải số tiền phải trả và không đổi một đồng nào
        trong `booking_lines`. Giá từng dòng do `CampaignService` tính lại từ
        giỏ; số tiền phải trả ở `GET /api/v2/campaigns/{campaign}/payments`.

        Hạn mức riêng 10 lần/phút: mỗi lần gọi tạo nghĩa vụ tiền và giữ suất.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:         { type: string, maxLength: 255 }
                brand_name:   { type: string, maxLength: 255, nullable: true }
                category:     { type: string, maxLength: 100, nullable: true }
                objectives:   { type: array, items: { type: string, maxLength: 100 } }
                total_budget: { type: number, minimum: 0, nullable: true, description: Ngân sách dự kiến do người mua tự ghi. Không phải số tiền phải trả. }
                notes:        { type: string, maxLength: 2000, nullable: true }
      responses:
        '201':
          description: Đã tạo
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/BookingReview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/campaigns/{campaign}:
    parameters:
      - { name: campaign, in: path, required: true, schema: { type: string }, description: ULID của campaign. }
    get:
      tags: [booking]
      security: [{ sessionCookie: [] }]
      summary: Xem một campaign — bước xem lại trước khi gửi, VÀ trang chi tiết
      description: |
        Trả campaign, các dòng đặt chỗ, nội dung đã tải lên, và **xung đột SOV
        tính ngay lúc gọi** — không phải ảnh chụp lúc tạo.

        **404 khi không được xem, 403 khi được xem nhưng không được làm.** Hai
        câu trả lời khác nhau cho hai câu hỏi khác nhau: campaign của tổ chức
        khác thì sự tồn tại của nó cũng là thông tin riêng, còn đồng nghiệp vai
        trò `viewer` thì đang nhìn thấy đúng campaign đó và cần biết vấn đề là
        quyền.

        **Mở rộng 08/10/2026 — sáu khối chỉ có ở đường ĐỌC này:** `stats`,
        `cancel_quotes`, `refund_policy`, `reviewable_owners`, `my_reviews`,
        `activities` + `activity_count`. Chúng **không** có trong phản hồi của
        `POST campaigns`, `POST creatives` và `POST submit`, dù ba đường đó
        cùng trả `BookingReview`.

        Vì sao tách: `cancel_quotes` chạy `CancellationService::quote()` cho
        mỗi dòng còn hủy được, và mỗi quote là một lượt đọc bảng tiền. Nhét nó
        vào phần dùng chung là bắt mỗi lần tải một tệp nội dung quảng cáo phải
        tính lại toàn bộ báo giá hoàn tiền — một phép tính không ai hỏi, trên
        đường mà người dùng đang chờ tệp lên.

        `cancel_quotes` **rỗng** khi người gọi không có quyền `manage_payments`
        (quyền `cancel` xếp cùng nhóm với thanh toán, vì hủy kéo theo nghĩa vụ
        hoàn tiền). Đó là một gợi ý cho giao diện, **không phải** một lớp bảo
        vệ: việc chặn thật nằm ở đường hủy.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/CampaignDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/campaigns/{campaign}/creatives:
    parameters:
      - { name: campaign, in: path, required: true, schema: { type: string } }
    post:
      tags: [booking]
      security: [{ sessionCookie: [] }]
      summary: Tải nội dung quảng cáo lên (bước 2 của đặt chỗ)
      description: |
        Đường **duy nhất** của `/api/v2` nhận tệp, nên gửi
        `multipart/form-data` chứ không phải JSON.

        Ba lớp kiểm, và không lớp nào thừa (CLAUDE.md mục 5 đòi kiểm mime,
        phần mở rộng và dung lượng):

        - phần mở rộng phải là jpg/jpeg/png/mp4/webm;
        - **mime thật đọc từ nội dung tệp** phải khớp danh sách cho phép, nên
          một tệp mp4 đổi tên thành .png không qua được;
        - tối đa 50MB.

        Tệp lưu trên disk riêng. Bản ghi tạo ra luôn ở `pending_review` —
        nội dung tự lên sóng là chỗ nặng nhất có thể sai ở một sàn quảng cáo
        ngoài trời, nên mặc định phải là đóng.

        Hạn mức riêng 20 lần/10 phút: mỗi lần gọi có thể ghi 50MB vào đĩa.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                name: { type: string, maxLength: 255, nullable: true, description: 'Bỏ trống thì lấy tên tệp gốc.' }
      responses:
        '201':
          description: Đã tải lên, chờ duyệt
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf:
                      - type: object
                        required: [creative]
                        properties:
                          creative: { $ref: '#/components/schemas/Creative' }
                      - $ref: '#/components/schemas/BookingReview'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/campaigns/{campaign}/submit:
    parameters:
      - { name: campaign, in: path, required: true, schema: { type: string } }
    post:
      tags: [booking]
      security: [{ sessionCookie: [] }]
      summary: Gửi campaign chờ duyệt (bước 3 của đặt chỗ)
      description: |
        Hai ô xác nhận là bắt buộc. `PolicyConsentService` ghi lại việc đồng ý
        kèm IP và thời điểm — đó là bằng chứng khi có tranh chấp, không phải
        thủ tục giấy tờ.

        Xung đột SOV được kiểm lại **ngay trước khi gửi**, không tin vào lần
        kiểm ở bước xem lại: giữa hai lần gọi có thể có người khác đặt kín
        suất. Có xung đột thì trả 422 với `error: sov_conflict`, và `details[]`
        nói từng màn hình còn bao nhiêu phần trăm.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm_accuracy, accept_terms]
              properties:
                confirm_accuracy: { type: boolean, description: Xác nhận thông tin booking là chính xác. }
                accept_terms:     { type: boolean, description: Đồng ý Quy chế hoạt động và Chính sách bảo mật. }
      responses:
        '200':
          description: Đã gửi chờ duyệt
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/BookingReview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: 'Lỗi kiểm dữ liệu, hoặc xung đột SOV (error = sov_conflict).'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/campaigns/{campaign}/payments:
    parameters:
      - { name: campaign, in: path, required: true, schema: { type: string } }
    get:
      tags: [payment]
      security: [{ sessionCookie: [] }]
      summary: Công nợ theo từng media owner, và các khoản đã tạo
      description: |
        **Công nợ tính theo từng owner, không phải theo tổng campaign.** Người
        mua chuyển thẳng cho từng media owner, nên `is_fully_paid` chỉ đúng khi
        **mọi** owner đã đủ — không phải khi tổng thu bằng tổng phải thu. Tổng
        tiền che khuất công nợ từng owner là F07 trong `FINDINGS.md`.

        Tiền bằng **VND số nguyên** ở mọi trường. VAT cộng một chỗ duy nhất
        (`PaymentService::withVat()`).

        **Không có thông tin ngân hàng ở đây.** `owner` chỉ có `id` và `name`;
        CLAUDE.md mục 2 cấm lộ `bank_*` và `billing_info`.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/PaymentOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [payment]
      security: [{ sessionCookie: [] }]
      summary: Xác nhận một khoản chuyển khoản cho một media owner
      description: |
        **`amount` là đề nghị, không phải quyết định.** `PaymentService` quyết
        số tiền: không gửi thì nó lấy đúng công nợ còn lại của owner đó, gửi
        vượt công nợ thì trả 422 kèm số đúng, công nợ đã bằng 0 thì từ chối
        tạo thêm. Client không đặt được số tiền mình muốn (CLAUDE.md mục 5).

        Cần quyền `manage_payments` — **không phải** quyền xem. Vai trò
        `viewer` xem được campaign nhưng nhận 403 ở đây.

        Campaign phải ở trạng thái `approved` hoặc `active`.

        `payment_nonce` là mã chống trùng của **chính lần gửi này**, không phải
        token phiên: token phiên không đổi giữa các lần trả, nên trả một phần
        rồi quay lại trả nốt sẽ nhận lại khoản cũ đã hoàn tất và không tạo được
        khoản mới. Không gửi mã thì vẫn chạy — tầng service dùng lại khoản đang
        chờ của cùng owner.

        `method` cố tình chỉ có một giá trị: VNPay và MoMo chưa có đường chạy
        nào, và một enum ba giá trị trong khi chỉ một hoạt động là nói sai về
        năng lực của hệ thống (CLAUDE.md mục 8).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [method, accept_terms]
              properties:
                method:        { type: string, enum: [bank_transfer] }
                owner_slug:    { type: string, description: 'Dùng cái này. Phải là owner có màn hình trong campaign.' }
                owner_id:      { type: string, description: 'Khóa nội bộ — trang Blade dùng. Client ngoài nên gửi `owner_slug`.' }
                amount:        { type: number, minimum: 1000, nullable: true, description: Bỏ trống để trả đúng công nợ còn lại. }
                payment_nonce: { type: string, maxLength: 64, nullable: true }
                accept_terms:  { type: boolean }
      responses:
        '201':
          description: Đã tạo khoản chờ xác nhận
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf:
                      - type: object
                        required: [payment]
                        properties:
                          payment: { $ref: '#/components/schemas/Payment' }
                      - $ref: '#/components/schemas/PaymentOverview'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/v2/campaigns/{campaign}/payment-recipients:
    parameters:
      - { name: campaign, in: path, required: true, schema: { type: string } }
    get:
      tags: [payment]
      security: [{ sessionCookie: [] }]
      summary: Nơi chuyển tiền tới — thông tin nhận tiền của từng media owner
      description: |
        **Đây là đường DUY NHẤT của cả `/api/v2` mang `bank_*` và `tax_code` ra
        ngoài.** CLAUDE.md mục 2 cấm phơi hai nhóm trường đó; ngoại lệ được
        duyệt ngày 08/10/2026 vì mô hình kinh doanh là người mua chuyển khoản
        **trực tiếp cho từng media owner** — sàn không thu hộ, đúng như hồ sơ
        đăng ký với Bộ Công Thương. Người mua không thấy nơi nhận tiền thì
        không trả được.

        Điều cấm vẫn giữ nguyên ở mọi chỗ khác: `Payment.owner` và
        `OwnerDebt.owner` chỉ có `id` + `name`, và phải giữ như vậy.

        **Sáu lớp chặn:**

        1. Không có tham số nào ngoài `campaign`. Danh sách người nhận dẫn từ
           `booking_lines` của chính campaign đó, nên "chỉ owner CÓ màn hình
           trong campaign" đúng do cấu trúc, không do một phép kiểm.
        2. Cần quyền `manage_payments`, **không phải** quyền xem. Vai trò
           `viewer` xem được công nợ ở `GET payments` nhưng nhận 403 ở đây.
        3. Campaign phải ở trạng thái `approved` hoặc `active` — cùng danh
           sách với đường ghi. Chưa duyệt thì 422.
        4. `Cache-Control: no-store, private` — không trình duyệt, CDN hay
           proxy nào được giữ bản sao.
        5. Mỗi lần đọc ghi một dòng `campaign_activities` (ai, lúc nào, IP, các
           owner nào), tối đa một dòng mỗi 10 phút cho mỗi người mỗi campaign.
        6. Hạn mức riêng 20 lần/phút, chặt hơn hạn mức 300/phút của nhóm.

        **Không có số tiền ở đây.** Số phải trả vẫn ở
        `GET /api/v2/campaigns/{campaign}/payments`. Client ghép hai phản hồi
        theo `id` của owner; gọi song song nên không mất thêm vòng mạng.

        `has_bank_details` là câu trả lời của **máy chủ**, không để client suy
        từ việc trường nào null: chưa khai đủ thì cả bốn trường `bank_*` đều
        `null`, vì nửa bộ thông tin tệ hơn không có gì.
      responses:
        '200':
          description: OK
          headers:
            Cache-Control:
              description: Luôn là `no-store, no-cache, must-revalidate, private`.
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/RemittanceOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: |
            Xem được campaign nhưng không có quyền `manage_payments`. Trang
            thanh toán vẽ đúng trường hợp này: hiện công nợ, không hiện nơi
            nhận tiền.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Campaign chưa ở trạng thái trả được nên chưa có gì để trả.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: laravel_session
      description: |
        Sanctum dạng SPA. Client gọi `GET /sanctum/csrf-cookie` trước, rồi gửi
        kèm cookie phiên và header `X-XSRF-TOKEN` cho mọi yêu cầu ghi. Nhóm
        này **không** dùng token đối tác; token đối tác chỉ dùng cho `/api/v1`.

  schemas:
    ScreenSummary:
      type: object
      required: [slug, name, screen_type, owner, location, size, pricing]
      properties:
        slug:        { type: string }
        name:        { type: string }
        screen_type: { type: string, enum: [billboard, led, lcd] }
        owner:
          type: object
          properties:
            slug: { type: [string, 'null'] }
            name: { type: [string, 'null'] }
        location:
          type: object
          properties:
            site:     { type: [string, 'null'] }
            city:     { type: [string, 'null'] }
            district: { type: [string, 'null'] }
        network:
          type: [object, 'null']
          properties:
            code: { type: string }
            name: { type: string }
        size:
          type: object
          properties:
            width_m:  { type: [number, 'null'] }
            height_m: { type: [number, 'null'] }
        pricing:
          type: object
          description: |
            Tên trường nói đúng nó là gì, và **mỗi số tiền đi kèm đơn vị**.
            `floor_cpm` là giá cho 1.000 lượt hiển thị; `io_rate` là giá thuê
            một kỳ, kỳ nói ở `io_rate.unit`.

            Bản đầu trả `floor_cpm_vnd` bằng cách làm tròn `floor_cpm` và bỏ
            qua `floor_cpm_currency` — cột đó nhận VND hoặc USD, nên một hàng
            USD 2,50 ra ngoài thành "3 VND" (Codex R39). API **không** tự quy
            đổi: quy đổi cần một chính sách tỷ giá có người chốt.

            `io_rate` không có cột currency trong CSDL nên luôn là VND; trường
            `currency` vẫn có mặt để giả định đó nhìn thấy được.

            v1 có `price_per_slot_vnd` trả giá CPM dưới cái tên "giá một slot" —
            v2 không lặp lại.
          required: [model, floor_cpm, io_rate]
          properties:
            model: { type: [string, 'null'], enum: [cpm, io, both, null] }
            floor_cpm:
              type: object
              required: [amount, currency]
              properties:
                amount:   { type: [number, 'null'], description: 'Có thể là số lẻ khi currency không phải VND.' }
                currency: { type: string, enum: [VND, USD] }
            io_rate:
              type: object
              required: [amount, currency]
              properties:
                amount:   { type: [integer, 'null'] }
                currency: { type: string, enum: [VND] }
                unit:     { type: [string, 'null'], enum: [week, month, null] }
        photo_url: { type: [string, 'null'] }

    OwnerSummary:
      type: object
      required: [slug, name]
      description: |
        Danh sách trắng. Không bao giờ chứa `revenue_share_pct`, `billing_info`,
        `bank_*`, `tax_code` hay `business_license_path`.
      properties:
        slug:         { type: string }
        name:         { type: string }
        type:         { type: [string, 'null'] }
        cover_url:    { type: [string, 'null'] }
        screen_count: { type: [integer, 'null'] }

    OwnerDetail:
      type: object
      required: [slug, name, stats]
      description: |
        Bộ trường lấy đúng bằng những gì trang owner công khai đang hiển thị,
        không thêm. Không bao giờ chứa `revenue_share_pct`, `billing_info`,
        `bank_*`, `tax_code`, `business_license_path` hay `legal_*`.
      properties:
        slug:      { type: string }
        name:      { type: string }
        type:      { type: [string, 'null'] }
        tagline:   { type: [string, 'null'] }
        about:     { type: [string, 'null'] }
        logo_url:  { type: [string, 'null'] }
        cover_url: { type: [string, 'null'] }
        contact:
          type: object
          description: Thông tin liên hệ doanh nghiệp, đã công khai trên trang owner.
          properties:
            website: { type: [string, 'null'] }
            email:   { type: [string, 'null'] }
            phone:   { type: [string, 'null'] }
            address: { type: [string, 'null'] }
        location:
          type: object
          properties:
            province: { type: [string, 'null'] }
            commune:  { type: [string, 'null'] }
        founded: { type: [string, integer, 'null'] }
        stats:
          type: object
          required: [screen_count, city_count, venue_types]
          properties:
            screen_count: { type: integer }
            city_count:   { type: integer }
            venue_types:  { type: array, items: { type: string } }

    ProductSummary:
      type: object
      required: [slug, name, type, category, listing_mode, pricing]
      description: |
        Danh sách trắng. **Không có `id`** — trang Blade dùng `$product->id`
        cho form giỏ hàng, API dùng `slug`; khóa nội bộ không ra ngoài.

        Về tên trường giá: cột trong CSDL tên `floor_price`, nhưng với sản phẩm
        dạng gói đó chính là **giá người mua trả cho cả gói**, không phải giá
        sàn nội bộ — `BundleExpander::productTotal()` lấy đúng cột này và trang
        sản phẩm đã hiển thị nó công khai. Ở đây đặt tên nói đúng nó là gì
        (`package`, `per_screen`) thay vì chép lại một cái tên gây hiểu sai.
      properties:
        slug: { type: string }
        name: { type: string }
        type: { type: string, enum: [single, package, custom] }
        category:
          type: object
          properties:
            code:  { type: [string, 'null'] }
            label: { type: [string, 'null'] }
        listing_mode:
          type: object
          description: Cách bán — chỉ gói, chỉ lẻ, hay cả hai.
          properties:
            code:               { type: [string, 'null'], enum: [package_only, individual_only, both, null] }
            label:              { type: [string, 'null'] }
            allows_package:     { type: boolean }
            allows_individual:  { type: boolean }
        owner:
          type: object
          properties:
            slug: { type: [string, 'null'] }
            name: { type: [string, 'null'] }
        location:
          type: object
          properties:
            city:   { type: [string, 'null'] }
            region: { type: [string, 'null'] }
            site:   { type: [string, 'null'] }
        network:
          type: [object, 'null']
          properties:
            name: { type: string }
        quantity:
          type: object
          properties:
            total_units:  { type: [integer, 'null'] }
            min:          { type: [integer, 'null'] }
            max:          { type: [integer, 'null'] }
            screen_count: { type: [integer, 'null'] }
        pricing:
          type: object
          description: |
            Mỗi số tiền đi kèm `currency`, lấy từ cột `products.currency`.
            Không giả định VND — đó đúng là lỗi R39 đã bắt ở màn hình.
          required: [currency]
          properties:
            currency:             { type: string }
            unit:                 { type: [string, 'null'], enum: [month, week, day, campaign, null] }
            package:              { type: [number, 'null'], description: Giá cả gói. }
            per_screen:           { type: [number, 'null'], description: 'Giá một màn hình khi mua lẻ; rỗng nghĩa là không bán lẻ.' }
            package_discount_pct: { type: [integer, 'null'] }
        short_description: { type: [string, 'null'] }
        cover_url:         { type: [string, 'null'] }
        featured:          { type: boolean }

    ProductDetail:
      allOf:
        - $ref: '#/components/schemas/ProductSummary'
        - type: object
          properties:
            description: { type: [string, 'null'] }
            photo_urls:  { type: array, items: { type: string } }
            specs:
              type: [object, 'null']
              description: |
                JSON tự do do quản trị nhập, đã hiển thị công khai trên trang
                sản phẩm. Không whitelist được theo khóa vì bộ khóa đổi theo
                từng loại sản phẩm, nên **bất cứ gì nhập vào đây đều là công
                khai** — chỗ phải chặn là lúc nhập, không phải lúc trả.
            package_options:
              type: array
              description: Whitelist theo khóa, không trả nguyên blob JSON.
              items:
                type: object
                properties:
                  name:     { type: [string, 'null'] }
                  quantity: { type: [integer, 'null'] }
                  price:    { type: [number, 'null'] }
            screens:
              type: array
              items: { $ref: '#/components/schemas/ScreenSummary' }
            seo:
              type: object
              properties:
                meta_title:       { type: [string, 'null'] }
                meta_description: { type: [string, 'null'] }

    Me:
      type: object
      required: [name, email, initial, organization, cart_count]
      properties:
        name:    { type: string }
        email:   { type: string, format: email }
        initial: { type: string, description: 'Chữ cái đầu của tên, cho ô avatar. Tính bằng mb_substr — tên tiếng Việt có ký tự nhiều byte.' }
        organization:
          type: object
          nullable: true
          description: 'Tổ chức đang chọn. Null khi người dùng chưa thuộc tổ chức nào. Chỉ có tên — trả id ra là mời bên tiêu thụ dùng nó để gọi tiếp.'
          required: [name]
          properties:
            name: { type: string }
        cart_count: { type: integer, description: 'Số món trong giỏ, để vẽ badge. Lấy từ cùng hàm header Blade gọi.' }

    Cart:
      type: object
      required: [items, summary]
      description: |
        `rate_snapshot` **không** có trong DTO này. Đó là ảnh chụp cấu hình giá
        của media owner lúc thêm giỏ, dùng để phát hiện giá đổi trước khi chốt
        đơn — nó mang nguyên cấu hình kho, không phải thứ người mua cần thấy.
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CartItem' }
        summary:
          type: object
          required: [currency, item_count, subtotal, vat, total]
          properties:
            currency:    { type: string, enum: [VND] }
            item_count:  { type: integer }
            subtotal:
              type: integer
              description: |
                **Chưa gồm VAT**, và đã chốt về VND nguyên trước khi tính VAT.
            vat:
              type: integer
              description: |
                `total - subtotal`, **không** phải một phép nhân riêng. Tính
                `round(subtotal * rate)` ở client là mở lại một chỗ làm tròn
                thứ hai, và khi ấy `subtotal + vat` có thể không bằng `total`.
            total:
              type: integer
              description: |
                `PaymentService::withVat(subtotal)` — chỗ **duy nhất** được
                phép tính VAT.

                Bản trước cố tình không trả VAT, lý do: "cộng VAT ở đây là một
                phép làm tròn thứ hai". Lý do đúng nhưng nhắm sai đích — nó
                nhắm vào việc TÍNH lại công thức, không phải việc phơi kết quả
                của chỗ duy nhất được tính. Và chỗ làm tròn thứ hai đã tồn tại
                sẵn ở `buyer/cart.blade.php`, nơi tự nhân
                `sum * (1 + vat_rate)` trên tổng dạng float trong khi
                `withVat` nhận int. Phơi trường này ra là để view hết lý do
                tự nhân.
            impressions: { type: integer }

    CartItem:
      type: object
      required: [id, period, estimate]
      properties:
        id:
          type: string
          description: |
            Dòng giỏ **có** `id` trong khi các DTO công khai thì không. Cố ý:
            client phải gọi được PATCH/DELETE lên đúng dòng này, và nó là dữ
            liệu riêng của chính người đang đăng nhập chứ không phải khóa của
            tài nguyên dùng chung.
        screen:  { oneOf: [{ $ref: '#/components/schemas/ScreenSummary' }, { type: 'null' }] }
        product:
          type: [object, 'null']
          properties:
            slug: { type: string }
            name: { type: string }
        buy_mode: { type: [string, 'null'], enum: [package, individual, null] }
        period:
          type: object
          properties:
            start_date: { type: [string, 'null'], format: date }
            end_date:   { type: [string, 'null'], format: date }
        delivery:
          type: object
          properties:
            pricing_model:      { type: [string, 'null'], enum: [cpm, io, null] }
            share_of_voice_pct: { type: [integer, 'null'] }
            spot_length:        { type: [integer, 'null'] }
            booked_cpms:        { type: [integer, 'null'] }
            duration_units:     { type: [integer, 'null'] }
            duration_unit:      { type: [string, 'null'] }
            screen_count:
              type: [integer, 'null']
              description: |
                Số màn hình của dòng này. Cần để dựng lại câu "đơn giá × N màn
                hình × M kỳ" mà trang giỏ hiển thị cho kiểu `io`.
        estimate:
          type: object
          description: Do máy chủ tính. Không nhận chiều ngược lại.
          required: [currency]
          properties:
            currency:              { type: string, enum: [VND] }
            unit_price:
              type: [integer, 'null']
              description: |
                Đơn giá máy chủ đã chốt: giá 1.000 lượt hiển thị với `cpm`,
                giá một màn hình một kỳ với `io`. VND nguyên.

                **Không** phải giá sàn nội bộ mà CLAUDE.md mục 2 cấm lộ — đây
                là giá người mua đang trả cho chính dòng giỏ của họ, thứ họ
                thấy trên hoá đơn. Giá sàn là ngưỡng của media owner và không
                liên quan tới trường này.
            cost:                  { type: [integer, 'null'] }
            impressions:           { type: [integer, 'null'] }
            duration_discount_pct: { type: [integer, 'null'] }
        notes: { type: [string, 'null'] }

    MapPin:
      type: object
      required: [slug, name, lat, lng]
      description: |
        Cố tình gọn: bản đồ trả hàng trăm bản ghi một lúc nên mỗi trường thừa
        nhân lên hàng trăm lần. Cần đầy đủ thì gọi `/api/v2/screens/{slug}`.
      properties:
        slug:    { type: string }
        name:    { type: string }
        lat:     { type: number }
        lng:     { type: number }
        city:    { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        owner:
          type: object
          properties:
            slug: { type: [string, 'null'] }
            name: { type: [string, 'null'] }
        price:
          type: object
          description: |
            Giá hiển thị kèm **đơn vị đo** (`unit`) và **đơn vị tiền**
            (`currency`). `io_rate` nếu bán theo kỳ, ngược lại là giá CPM —
            hai thang đo khác nhau, nên thiếu `unit` là mời so nhầm, và giá
            CPM có thể lưu bằng USD nên thiếu `currency` là gắn nhãn sai
            (Codex R39).
          required: [amount, currency]
          properties:
            amount:   { type: [number, 'null'] }
            currency: { type: string, enum: [VND, USD] }
            unit:     { type: [string, 'null'] }
        photo_url: { type: [string, 'null'] }

    FilterFacet:
      type: object
      required: [code, name, count]
      properties:
        code:  { type: [string, 'null'] }
        name:  { type: [string, 'null'] }
        count: { type: integer }

    Availability:
      type: object
      description: |
        Suất còn lại tính thật, gồm cả suất người khác đang giữ trong giỏ.
      required: [window_days, remaining_sov_pct, has_capacity]
      properties:
        window_days:       { type: integer }
        remaining_sov_pct: { type: integer, minimum: 0, maximum: 100 }
        has_capacity:      { type: boolean }

    LimitMeta:
      type: object
      description: |
        Meta cho các endpoint trả một danh sách ngắn, cố định — không phân
        trang. Khác `PageMeta`: không có `page` và `last_page`, vì không có
        trang nào để đi tới.
      required: [returned, limit, max_limit]
      properties:
        returned:  { type: integer }
        limit:     { type: integer, description: 'Giới hạn đã áp, sau khi kẹp về max_limit.' }
        max_limit: { type: integer }

    Region:
      type: object
      required: [code, name, provinces]
      properties:
        code:
          type: [string, 'null']
          description: |
            Mã vùng trong `config/regions.php` (`north`, `central`,
            `south`). Null khi tên vùng không khớp cấu hình — trả null thay vì
            bỏ qua, để chỗ lệch cấu hình nhìn thấy được.
        name: { type: string, description: 'Tên vùng để hiển thị.' }
        provinces:
          type: array
          items:
            type: object
            required: [code, name, count]
            properties:
              code:  { type: string }
              name:  { type: string }
              count: { type: integer, description: 'Số màn hình công khai trong tỉnh thành đó.' }

    PageMeta:
      type: object
      required: [page, per_page, total, last_page, max_per_page]
      properties:
        page:         { type: integer }
        per_page:     { type: integer }
        total:        { type: integer }
        last_page:    { type: integer }
        max_per_page: { type: integer }

    AgencySummary:
      type: object
      required: [name, type]
      description: |
        Danh sách trắng cho một agency/brand. Nguồn là bảng của bên MUA, nên
        mọi trường không liệt kê ở đây đều KHÔNG ra ngoài.
      properties:
        name: { type: [string, 'null'] }
        type: { type: [string, 'null'] }
        website_host:
          type: [string, 'null']
          description: |
            Chỉ TÊN MIỀN, không phải URL đầy đủ — một URL đầy đủ có thể mang
            tham số theo dõi mà agency không định công khai.
        logo_url: { type: [string, 'null'] }
        campaign_count:
          type: [integer, 'null']
          description: |
            Đếm thật từ CSDL. `null` nghĩa là KHÔNG ĐẾM (thiếu `withCount`),
            khác hẳn `0` nghĩa là đếm rồi và không có cái nào.

    AuthUser:
      type: object
      required: [name, email, has_organization]
      description: |
        Danh sách trắng, không phải model. `User` có `password`,
        `remember_token`, và quan hệ tới tổ chức kèm `billing_info`/`tax_code`.
      properties:
        name:  { type: [string, 'null'] }
        email: { type: [string, 'null'] }
        has_organization:
          type: boolean
          description: |
            Đủ để app biết nên đưa người dùng đi đâu: có tổ chức thì vào khu
            người mua, chưa có thì đi bước tạo tổ chức.

    Error:
      type: object
      description: Định dạng lỗi thống nhất cho mọi endpoint v2.
      required: [error, message, code, details]
      properties:
        error:   { type: string }
        message: { type: string }
        code:    { type: integer }
        details:
          type: array
          items:
            type: object
            properties:
              field:   { type: string }
              message: { type: string }

    Campaign:
      type: object
      description: |
        Campaign của người mua. `floor_cpm_at_booking` và `io_rate_at_booking`
        **không** có ở đây hay ở `BookingLine`: đó là giá sàn nội bộ của media
        owner, mà CLAUDE.md mục 2 cấm lộ.
      properties:
        id:         { type: string }
        code:       { type: string }
        name:       { type: string }
        brand_name: { type: string, nullable: true }
        category:   { type: string, nullable: true }
        objectives: { type: array, items: { type: string } }
        period:
          type: object
          properties:
            start_date: { type: string, format: date, nullable: true }
            end_date:   { type: string, format: date, nullable: true }
        status: { type: string, enum: [draft, pending_approval, approved, rejected, active, paused, completed, cancelled] }
        status_label:
          type: string
          description: |
            Chữ tiếng Việt từ `Campaign::STATUS_LABELS` — **một định nghĩa**.
            Bảng chữ này từng được chép vào từng khối `@php` của mỗi trang
            Blade, nên cùng một campaign có thể hiện hai chữ khác nhau ở hai
            trang. Máy chủ sở hữu **chữ**; client sở hữu **màu**, vì màu là
            việc trình bày và đổi theo chủ đề.
        timeline:
          type: object
          properties:
            submitted_at: { type: string, format: date-time, nullable: true }
            approved_at:  { type: string, format: date-time, nullable: true }
            rejected_at:  { type: string, format: date-time, nullable: true }
            activated_at: { type: string, format: date-time, nullable: true }
            completed_at: { type: string, format: date-time, nullable: true }
        rejection_reason: { type: string, nullable: true }
        totals:
          type: object
          properties:
            currency:    { type: string, enum: [VND] }
            budget:      { type: integer, nullable: true, description: 'Ngân sách người mua tự ghi, không phải số phải trả.' }
            screens:     { type: integer, nullable: true }
            impressions: { type: integer, nullable: true }
        notes: { type: string, nullable: true }

    BookingLine:
      type: object
      properties:
        id:     { type: string }
        screen: { $ref: '#/components/schemas/ScreenSummary' }
        period:
          type: object
          properties:
            start_date: { type: string, format: date, nullable: true }
            end_date:   { type: string, format: date, nullable: true }
        delivery:
          type: object
          properties:
            pricing_model:      { type: string, nullable: true, enum: [cpm, io, null] }
            share_of_voice_pct: { type: integer, nullable: true }
            spot_length:        { type: integer, nullable: true }
            booked_cpms:        { type: integer, nullable: true }
            kpi_spots_per_day:  { type: integer, nullable: true }
            io_rate_unit:       { type: string, nullable: true }
        estimate:
          type: object
          properties:
            currency:              { type: string, enum: [VND] }
            cost:                  { type: integer, nullable: true, description: Số tiền CHƯA gồm VAT. }
            impressions:           { type: integer, nullable: true }
            duration_discount_pct: { type: integer, nullable: true }
        status:
          type: string
          enum: [pending, approved, rejected, active, paused, completed, cancelled]
          description: |
            **Khác enum của `Campaign`** ở đúng một mã: dòng dùng `pending`,
            chiến dịch dùng `pending_approval`.
        status_label:
          type: string
          description: |
            Chữ tiếng Việt từ `BookingLine::STATUS_LABELS` — bảng **riêng**,
            không dùng chung với `Campaign::STATUS_LABELS`. Trang chi tiết từng
            dùng một bảng cho cả hai, nên một dòng `pending` hiện ra `pending`
            nguyên văn tiếng Anh ngay cạnh các dòng đã có chữ Việt.
        rejected_reason: { type: string, nullable: true }

    Creative:
      type: object
      description: |
        Nội dung quảng cáo đã tải lên.

        **Không có `file_path`** — đó là đường dẫn trên đĩa, một chi tiết lưu
        trữ. Thứ bên tiêu thụ cần là một cách lấy tệp, không phải vị trí của nó.

        `download_url` là URL **ký hạn** tới tệp, sống theo
        `CREATIVES_URL_TTL_MINUTES` (mặc định 60 phút). Route phía sau còn
        kiểm `CreativePolicy` chứ không chỉ kiểm ký, nên URL rò ra ngoài vẫn
        vô dụng với người không có quyền. Hết hạn thì gọi lại endpoint này để
        lấy URL mới; đừng lưu nó vào CSDL hay cache lâu hơn chính cái hạn.
      properties:
        id:   { type: string }
        name: { type: string, nullable: true }
        # Bốn giá trị, theo enum của `create_creatives_table`. Đặc tả trước đây
        # khai hai (`image`, `video`) nên TypeScript sinh ra từ đây thiếu hai
        # nhánh mà CSDL cho phép và bộ lọc Filament đang mời chọn.
        type: { type: string, enum: [image, video, html5, vast_tag] }
        dimensions:
          type: object
          properties:
            width_px:     { type: integer, nullable: true }
            height_px:    { type: integer, nullable: true }
            duration_sec: { type: integer, nullable: true }
        file_size:    { type: integer, nullable: true }
        download_url: { type: string, format: uri, nullable: true, description: 'URL ký hạn. Null khi bản ghi chưa có tệp.' }
        status:       { type: string, enum: [pending_review, approved, rejected] }
        # Chữ đi cùng mã: mỗi bên tiêu thụ tự dịch là cách chữ trạng thái đã
        # trôi thành năm bản chép lệch nhau ở chiến dịch. Mã để client quyết
        # định màu, chữ để hiện.
        status_label: { type: string, description: 'Chữ tiếng Việt của `status`, từ `Creative::STATUS_LABELS`.' }
        reviewed_at:  { type: string, format: date-time, nullable: true }
        created_at:  { type: string, format: date-time, nullable: true }

    SovConflict:
      type: object
      description: Một dòng đặt chỗ xin nhiều thời lượng hơn phần còn trống.
      properties:
        booking_line_id: { type: string }
        screen_name:     { type: string, nullable: true }
        requested_pct:   { type: integer }
        available_pct:   { type: integer }
        dates:           { type: string, description: 'Khoảng ngày dạng dd/mm → dd/mm.' }

    CampaignDetail:
      description: |
        Phản hồi của `GET /api/v2/campaigns/{campaign}`: khối dùng chung của ba
        bước đặt chỗ, **cộng** sáu khối chỉ có ở đường đọc. Xem mô tả của
        endpoint đó về lý do sáu khối kia không nằm trong phản hồi của các
        đường ghi.
      allOf:
        - $ref: '#/components/schemas/BookingReview'
        - $ref: '#/components/schemas/CampaignDetailExtra'

    CampaignDetailExtra:
      type: object
      description: |
        Những gì trang `/my/campaigns/{campaign}` cần ngoài khối đặt chỗ. Trước
        08/10/2026 trang đó dựng bốn thứ này từ model, nên nó là action đọc
        cuối cùng của khu người mua chưa đi qua API.
      required: [stats, cancel_quotes, refund_policy, reviewable_owners, my_reviews, activities, activity_count]
      properties:
        stats:
          type: object
          description: |
            Bốn con số đầu trang, đọc từ chính các accessor của model nên không
            ra kết quả khác bản render cũ. `estimated_cost` CHƯA gồm VAT —
            giống `summary.subtotal`; số phải trả ở
            `GET campaigns/{campaign}/payments`.
          required: [currency, line_count, estimated_cost, actual_impressions, delivery_rate_pct]
          properties:
            currency:           { type: string, enum: [VND] }
            line_count:         { type: integer }
            estimated_cost:     { type: integer }
            actual_impressions: { type: integer }
            delivery_rate_pct:
              type: number
              description: Phần trăm, một chữ số thập phân. Không phải tiền.
        cancel_quotes:
          type: array
          description: |
            Báo giá hoàn tiền cho từng dòng **còn hủy được**, tính ở máy chủ.

            **Rỗng khi người gọi không có quyền `manage_payments`** — một gợi ý
            cho giao diện, không phải lớp bảo vệ.

            Mảng, không phải object khóa theo id dòng: một object khóa bằng ULID
            không diễn tả được trong đặc tả này, và client nào cũng phải dựng
            bảng tra riêng.
          items: { $ref: '#/components/schemas/CancelQuote' }
        refund_policy:
          type: array
          description: |
            Các mốc chính sách hủy đang áp dụng, đọc từ cùng cấu hình mà
            `CancellationService::tierFor()` đọc. Ra ngoài để client **không**
            chép cứng phần trăm: chép cứng là để con số trên màn hình lệch khỏi
            con số máy chủ áp dụng mà không ai biết.
          items:
            type: object
            required: [min_days_before, refund_pct]
            properties:
              min_days_before: { type: integer }
              refund_pct:      { type: integer }
        reviewable_owners:
          type: array
          description: |
            Media owner mà campaign này **còn** được đánh giá. Rỗng khi campaign
            chưa chạy: đánh giá một dịch vụ chưa được cung cấp thì không dựa
            trên trải nghiệm nào, và đó là cách nhanh nhất làm điểm số trên sàn
            thành vô nghĩa.
          items: { $ref: '#/components/schemas/OwnerToReview' }
        my_reviews:
          type: array
          description: Đánh giá tổ chức này đã viết cho campaign này.
          items: { $ref: '#/components/schemas/OwnerReview' }
        activities:
          type: array
          description: |
            Lịch sử hoạt động, **50 dòng mới nhất**. Giới hạn cứng theo
            CLAUDE.md mục 2: lịch sử mọc theo lượt đọc từ 08/10/2026 vì
            `remittance_details_viewed` thêm một dòng mỗi lần có người xem
            thông tin nhận tiền.
          items: { $ref: '#/components/schemas/CampaignActivity' }
        activity_count:
          type: integer
          description: |
            Tổng số dòng lịch sử. Có để client nói được "đang hiện 50 trong
            120" chứ không im lặng cắt bớt.

    CancelQuote:
      type: object
      description: |
        **Ảnh chụp tại thời điểm gọi, không phải con số quyết định.** Tiền đã
        trả được phân bổ theo các dòng CÒN MỞ, nên hủy dòng A xong thì báo giá
        của dòng B đổi. Con số quyết định là con số `cancelLine()` tính lại
        trong transaction có khóa.
      required: [booking_line_id, currency, days_before, refund_pct, paid, refundable, tier, is_estimate]
      properties:
        booking_line_id: { type: string }
        currency:        { type: string, enum: [VND] }
        days_before:
          type: integer
          description: Số ngày còn lại tới ngày chạy của **dòng này**, không của campaign.
        refund_pct:  { type: integer }
        paid:
          type: integer
          description: |
            Người mua đã thực sự trả bao nhiêu cho dòng này. Tiền trả theo
            owner chứ không theo dòng, nên đây là phần chia theo tỉ lệ giá của
            dòng trong tổng của owner đó, và chỉ tính khoản đã xác nhận.
        refundable:  { type: integer }
        tier:
          type: object
          required: [min_days_before, refund_pct]
          properties:
            min_days_before: { type: integer }
            refund_pct:      { type: integer }
        is_estimate:
          type: boolean
          description: |
            Luôn `true`. Máy chủ nói ra để client **buộc** phải gọi con số này
            là "dự kiến", chứ không phải tự biết điều đó.

    OwnerToReview:
      type: object
      description: |
        Media owner còn đánh giá được. Mang `id` vì đường ghi
        `POST /my/campaigns/{campaign}/reviews` nhận `owner_id`.
      required: [id, name]
      properties:
        id:       { type: string }
        slug:     { type: [string, 'null'] }
        name:     { type: string }
        logo_url: { type: [string, 'null'] }

    OwnerReview:
      type: object
      description: |
        Một đánh giá **do chính tổ chức này viết**. `moderation_note` không ra
        ngoài: đó là ghi chú của người kiểm duyệt trên sàn, viết cho nội bộ, và
        người viết nó không biết mình đang viết cho khách.
      required: [id, rating, status]
      properties:
        id: { type: string }
        owner:
          type: [object, 'null']
          properties:
            id:   { type: string }
            name: { type: string }
        rating:  { type: integer, minimum: 1, maximum: 5 }
        comment: { type: [string, 'null'] }
        status:  { type: string, enum: [pending, published, rejected] }
        status_label:
          type: string
          description: |
            Nhãn tiếng Việt lấy từ `OwnerReview::STATUS_LABELS` — cùng bảng chữ
            mà khu quản trị dùng. Client tự dịch `status` là có hai bộ chữ cho
            cùng một trạng thái, và chúng lệch nhau ngay lần đổi đầu tiên.
        published_at: { type: [string, 'null'], format: date-time }
        created_at:   { type: [string, 'null'], format: date-time }

    CampaignActivity:
      type: object
      description: |
        Một dòng lịch sử hoạt động.

        **`metadata` không ra ngoài.** Cột đó tự do, do tầng trong ghi vào, và
        nó đã chứa — chứ không "có thể chứa" — `ip` với `user_agent` của người
        đọc thông tin nhận tiền, cùng số tiền phân bổ và lý do nội bộ khi hủy.
        Trả một cột tự do ra ngoài là hứa một hợp đồng mà không ai kiểm được.
      required: [id, action, description]
      properties:
        id:          { type: string }
        action:      { type: string }
        description: { type: [string, 'null'] }
        actor:
          type: [object, 'null']
          description: '`null` nghĩa là hệ thống tự làm (job, lệnh artisan), không phải "không biết ai".'
          properties:
            name: { type: string }
        created_at: { type: [string, 'null'], format: date-time }

    BookingReview:
      type: object
      description: |
        Khối dữ liệu dùng chung cho cả ba bước đặt chỗ. Client vừa tạo campaign
        cần đúng những gì bước xem lại cần, và sau khi gửi cũng vậy — trả ba
        hình dạng cho cùng một tài nguyên là bắt bên tiêu thụ viết ba đường xử
        lý cho một thứ.

        `GET campaigns/{campaign}` trả khối này **cộng** `CampaignDetailExtra`.
      required: [campaign, lines, creatives, conflicts, summary]
      properties:
        campaign:  { $ref: '#/components/schemas/Campaign' }
        lines:     { type: array, items: { $ref: '#/components/schemas/BookingLine' } }
        creatives: { type: array, items: { $ref: '#/components/schemas/Creative' } }
        conflicts: { type: array, items: { $ref: '#/components/schemas/SovConflict' } }
        summary:
          type: object
          properties:
            currency:    { type: string, enum: [VND] }
            line_count:  { type: integer }
            subtotal:    { type: integer, description: 'Tổng CHƯA gồm VAT. VAT cộng một chỗ duy nhất, lúc tính công nợ.' }
            impressions: { type: integer }
            can_submit:
              type: boolean
              description: |
                Do máy chủ trả lời, không để client tự suy từ `status` và
                `conflicts`. Giao diện ẩn nút không phải phân quyền, nhưng
                giao diện tự đoán điều kiện thì lệch là chắc chắn.

    Payment:
      type: object
      description: |
        Một khoản thanh toán. **Không có** `metadata`, `idempotency_key`,
        `gateway_ref`, `invoice_url` — xem `PaymentResource` để biết lý do từng
        trường. `owner` chỉ có `id` và `name`: số tài khoản không đi qua đây.
      properties:
        id: { type: string }
        owner:
          type: object
          nullable: true
          properties:
            id:   { type: string }
            name: { type: string }
        method:          { type: string, enum: [bank_transfer] }
        currency:        { type: string, enum: [VND] }
        amount:          { type: integer }
        status:          { type: string }
        transaction_ref: { type: string, nullable: true }
        invoice_number:  { type: string, nullable: true }
        due_date:        { type: string, format: date, nullable: true }
        paid_at:         { type: string, format: date-time, nullable: true }
        created_at:      { type: string, format: date-time, nullable: true }

[...]
